
.preview-box {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 15px;
    min-height: 230px;
}

.preview-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 535px;
    background-color: #f9fafb;
    border-radius: 8px;
    overflow: hidden;
}

.preview-area img {
    max-height: 100%;
    object-fit: contain;
}
