body {
    font-family: 'Inter', sans-serif;
    padding-top: 58px;
}

/* Logo Dot */
.logo-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #ff6a88, #ffb347);
    border-radius: 50%;
    margin-right: 6px;
}

/* Gradient Button */
.btn-gradient {
    background: linear-gradient(45deg, #ff6a88, #ffb347);
    color: #fff;
    border-radius: 30px;
    border: none;
}

.btn-gradient:hover {
    opacity: 0.9;
    color: #fff;
}

/* HERO */
.hero-section {
    position: relative;
    height: 85vh;
    background: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f") center/cover no-repeat;
    display: flex;
    align-items: center;
}

.hero-section .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #fff;
}

/* Action Bar */
.action-bar {
    background: #fff;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.action-pill {
    background: #2c4771;
    padding: 10px 18px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.action-pill.green {
    background: #C9DCD1;
    color: #1f8b4c;
}

.action-pill.red {
    background: #E65E77;
    color: #fff;
}

.action-pill:hover {
    background: #1B2B44;
}

.action-pill.green:hover {
    color: #C9DCD1;
    background: #1f8b4c;
}

.action-pill.red:hover {
    background: #ea2045;
}

/* Book Cards */
.book-card {
    background: #fff;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: transform 0.3s;
}

.book-card img {
    width: 100%;
    border-radius: 12px;
    height: 280px;
    object-fit: cover;
}

.book-card:hover {
    transform: translateY(-5px);
}

/* Floating Add Button */
.add-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(45deg, #ff6a88, #ffb347);
    color: #fff;
    font-size: 28px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


/* RBAC Table */
.rbac-scroll {
    overflow: auto;
    max-height: 70vh;
}

.matrix-table th,
.matrix-table td {
    white-space: nowrap;
		text-align:center;
}
